@model Survey
@{
    ViewData["Title"] = "Index";
}

<h2>Survey</h2>

<form method="post" asp-controller="Survey" asp-action="Index">
    <table>
        <tbody>
            <tr>
                <td><label asp-for="ParkCode">Favorite Park: </label></td>
                <td><select asp-items="Model.Parks" asp-for="ParkCode"><option selected disabled>Choose Favorite Park</option></select><span asp-validation-for="ParkCode" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Email">Email:</label></td>
                <td><input asp-for="Email" /><span asp-validation-for="Email" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="ResidenceState">State of Residence: </label></td>
                <td><select asp-items="Model.States" asp-for="ResidenceState"><option selected disabled>Choose State</option></select><span asp-validation-for="ResidenceState" class="error"></span></td>
            </tr>
            <tr>
                <td><label>Activity Level: </label></td>
                <td>
                    @foreach (string option in Model.ActivityLevelOptions)
                    {
                        <label class="radio-inline">
                            <input type="radio" asp-for="ActivityLevel" value="@option">@option
                        </label>
                    }
                <span asp-validation-for="ActivityLevel" class="error"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Cast your Vote" />
                </td>
            </tr>
        </tbody>
    </table>
</form>

<style>
    .error {
        color: red;
    }
</style>