@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index">
    @foreach (Park item in Model)
    {
        <div class="row">
            <div class="column home-left">
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ParkCode"><img src="~/images/parks/@(item.ParkCode).jpg" alt="park image"></a>
            </div>
            <div class="column home-right">
                <h3>@item.ParkName</h3>
                <h4 id="price">@item.ParkDescription</h4>
            </div>
        </div>
    }
</form>