/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Sets size for National Park Geek Logo at top of Page*/
.logo > img{
    width: auto;
    height: 150px;
}

/* DETAIL PAGE STYLING */

/* Sets width of table for the park details on the Detail page*/
#park-info-table {
    width: 25%;
}

/* 5 day forecast as flex */
.weather-panel {
    display: flex;
    margin-top: 10px;
}

/* Each day forecast, fixed width, grid, with rounded edges and border */
.weather-card {
    width: 175px;
    display: grid;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    margin: 0px 5px 0px 0px;
}

/* Add margin to elements inside a day forecast */
.weather-row {
    margin: 10px 5px 5px 10px;
}

/* Have high and low temperature display next to eachother */
.weather-high-low {
    display: inline-block;
}

/* The day of the week is the header */
.weather-header {
    font-size: 16px;
    height: 10px;
}

/* This image is from the weather API and has a size of 86px x 86px*/
img[alt="API weather image"] {
    width: 86px;
    height: auto;
    display: grid;
}

/* HOME PAGE STYLING */

/* Sets each park element to inline-flex and fill width */
.home-section {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

/* Sets image size and padding on Home page for each Park */
.home-section > a > img {
    width:350px;
    padding: 0px 10px 25px 10px;
}

/* SURVEY PAGE STYLING */
.error {
    color: red;
}

/* SURVEY RESULTS PAGE STYLING */

img[alt="survey park image"] {
    height: 150px;
    width: auto;
}