/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    
    
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.logo > img{
    
    width: auto;
    height: 150px;
}

#park-info-table {
    width: 25%;
}
.row > img
 {
    width: 29%;
    display: inline-block;
}

.detailImg {
    width: 100%;
}



#description {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-top: -20px;
}
.Weather{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 150px;
}
.indexPic{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height:auto;
    }
.indexPic > a > img{
    width:350px;
    padding: 25px 10px;
}
.indexPic > .tester{
    padding-top: 25px;
}
